ollama
python-dotenv
tavily-python
requests
mysql-connector-python
PyQt5
sounddevice
numpy
webrtcvad
transformers
torch
kokoro
soundfile
edge-tts
qtawesome
qt-material
fastapi
uvicorn
python-multipart